

footer.flex {
    justify-content: space-between;
    padding-bottom: 2rem;
}

footer ul {
    gap: 1rem;
}

footer ul a {
    color: var(--subtitle);
    font-size: 0.9rem;
    transition: 0.3s;
}

footer ul a:hover {
    color: var(--blueColor);
    scale: 1.3;
    font-weight: 500;
}
footer p {
    color: rgb(113, 113, 122);
}


/* responsive design  */

@media (max-width: 800px)  {
    footer {
        flex-direction: column;
        gap: 1.3rem;
    }
}